<header>
    <div class="container">
        <div class="row row-horizontal">
            <div class="column logo">
                <a href="{{@blog.url}}" class="logo">
                    <img src="{{asset "img/logo.png"}}" alt="Steven Knox" />
                </a>
            </div>
            <div class="column hamburger">
                <i class="fas fa-bars mobile-nav-toggle"></i>
            </div>
            <nav class="primary-nav">
            {{navigation}}
            </nav>
        </div>
    </div>
         <div class="secondary-nav">
        <div class="container">
            <ul>
                <li><a href="https://stevenknox.net/tag/asp-net-core/">ASP.NET CORE</a></li>
                <li><a href="https://stevenknox.net/tag/net-core/">.NET CORE</a></li>
                <li><a href="https://stevenknox.net/tag/azure/">AZURE</a></li>
                <li><a href="https://stevenknox.net/tag/azure-devops/">AZURE DEVOPS</a></li>
                <li><a href="https://stevenknox.net/tag/csharp/">CSHARP</a></li>
                <li><a href="https://stevenknox.net/tag/fitness/">FITNESS</a></li>
            </ul>
        </div>  
    </div>
    {{!-- <div class="secondary-nav">
        <div class="container">
            {{#get "tags" limit="8" include="count.posts" order="name asc"}}
            <ul>
                {{#foreach tags}}
                    <li><a href="{{url}}">{{name}}</a></li>
                {{/foreach}}
            </ul>
            {{/get}}
        </div>  
    </div> --}}
    <div class="mobile-nav">
        <div class="container">
            <div class="row">
                <div class="column">
                    {{navigation}}
                    <hr>
                    {{#get "tags" limit="all" include="count.posts" order="name asc"}}
                    <ul class="secondary-nav">
                        {{#foreach tags}}
                            <li><a href="{{url}}">{{name}}</a></li>
                        {{/foreach}}
                    </ul>
                    {{/get}}
                </div>
            </div>
        </div>
    </div>
</header>