<section id="side-bar" class="column">

    <div class="author">
        <img src="{{asset "img/profile-image.jpg"}}" alt="Chris Sainty" />
        <h3>Steven Knox</h3>
        <p>Passionate about all things Software, EdTech and Fitness with a particular interest in the Microsoft development stack, including .Net Core, Azure and Azure DevOps </p>
        <br>
        <a href="https://app.pluralsight.com/profile/author/steven-knox" target="_blank"><img src="{{asset "img/PS-AuthorBadge.png"}}" alt="Pluralsight Author" /></a>
    </div>

    {{#get "posts" limit="5" as |recents|}}
    <section class="recent-posts">
      <h3>Recent posts</h3>
      <ul>
        {{#foreach recents}}
        <li>
          <a href="{{url}}">{{title}}</a>
          <div class="read-time">{{reading_time}}</div>
        </li>
        {{/foreach}}
      </ul>
    </section>
    {{/get}}

    <section class="social">
      <h3>Follow Me</h3>
      <div class="social-links">
        <a class="icon-twitter" href="https://twitter.com/stevenknox101" target="_blank" title="Twitter"></a>
        <a class="icon-github" href="https://github.com/stevenknox" target="_blank" title="Fork me on Github"></a>
        <a class="icon-linkedin" href="https://www.linkedin.com/in/stevenknox101" target="_blank" title="LinkedIn"></a>
        <a class="icon-rss" href="{{@blog.url}}/rss/" target="_blank" title="RSS Feed"></a>
      </div>
    </section>

    {{#get "tags" limit="all" include="count.posts" order="name asc"}}
    <section class="categories">
      <h3>Categories</h3>
      <ul>
          {{#foreach tags}}
              <li><a href="{{url}}">{{name}}</a> <span>{{count.posts}}</span></li>
          {{/foreach}}
      </ul>
    </section>
    {{/get}}  

  </section>